<%- include("./partials/header.ejs") %>
    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4">
        <div class="container" id="index">
                <div class="row head">
                    <div class="col-md-8"> 
                        <% foundblog.forEach(function(blog) { %>
                            <div class="row">
                                <div class="col-md-5">
                                    <blockquote class="blockquote">
                                        <h5><%= blog.name %></h5>
                                </div>
                                <div class="col-md-4">
                                        <i id="blend">
                                            <p><i class="fas fa-clock"></i> <%= blog.date.toDateString() %></p>
                                        </i>
                                    </blockquote>
                                 </div>
                            </div>

                        <div class="row">
                            <div class="col-md-5">        
                                    <img src="<%= blog.image %>" alt="image">                                  
                            </div>
                            <div class="col-md-6">
                                <div>
                                     <h6><%= blog.title %></h6>
                                     <p><%= blog.description.substring(0, 150) %><a href="/blog/<%= blog._id %>/show"> Read More</a></p>
                                   
                                </div>
                            </div>
                        </div>
                        <hr>
                        <% }) %>  
                    </div>
                       
                 
            </div>
        </div>
    </section>

    
 

<%- include("./partials/footer.ejs") %>